@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-slate-50 antialiased;
  }
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.wallet-adapter-button {
  @apply bg-blue-600! h-10! px-5! rounded-lg! text-sm! font-medium! transition-all hover:bg-blue-700! font-sans!;
}

.wallet-adapter-button-trigger {
  @apply bg-blue-600!;
}